body{
  font-family: "Montserrat-thin";
  text-align: center;
}
h1 ,h2, h3, h4, h5, h6{
  font-family: 'Montserrat-black';
}

/* headings */
.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}
.p-text{
  color: #8f8f8f;
}
.container-fluid {
padding: 7% 15% ;
}
/* section-heading */

.colored-section{
  background-color: #FF3D68;
  color: #fff;
}

.white-section{

}
.icon{
  color: #FF6767;
  margin-bottom: 1rem;

}
.icon:hover{
  color:#FF3D68;
}
/* Navigation Bar */
.navbar{
padding: 0 0 4.5rem ;
}

.nav-item{
  padding: 0 18px;
}

.navbar-link{
  font-size: 1.5rem;
  font-family: "Montserrat-Light";
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0%;
}
/* Title section */
#title{
  text-align: left;
}
#title.container-fluid{
  padding: 3% 15% 7%;
}
/* Title Image */
.title-image{
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}


/* feature Section */
#features{
  background-color: #fff;
  position: relative;
}
.feature-title{
    font-size: 1.5rem;
}
.feature-box{
  padding: 5%;
  font-family: "Montserrat-bold bold";
  font-size: 1.5rem;
}
/* Testimonial section */
#testimonials{
background-color: #FF6767;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image{
  width: 25%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #FF6767;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing{
  padding: 100px;
}
.price-text{
  line-height: 1.5rem;
}
.pricing-coloumn{
  padding: 3% 2%;
}


/* Call to action */

.cta-heading{
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 3.5rem;
}
/* footer */

.f-p{
  color: #8f8f8f;
}
.social-icon{
  margin: 20px 10px;
}
@media (max-width: 1000px) {
#title{
  text-align: center;
}

  .title-image{
    position: static;
    transform: rotate(0);
  }
}
